@font-face {
  font-family: 'Arsenal';
  src: url("../fonts/ArsenalRegular.woff") format("woff"), url("../fonts/ArsenalRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Arsenal';
  src: url("../fonts/ArsenalBold.woff") format("woff"), url("../fonts/ArsenalBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: SFUI Display;
  src: url("../fonts/SFUIDisplay-Regular.otf");
  font-weight: 300;
  font-style: normal; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: Arsenal, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #515151; }

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: Arsenal, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #515151; }

html,
body {
  height: 100%; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.content {
  max-width: 1180px;
  margin: auto;
  padding: 0 30px; }

.header__menu li {
  display: inline-block; }

header a {
  text-decoration: none; }

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px; }

.header__contats {
  max-width: 180px;
  text-align: right; }

section .content {
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

main .content {
  padding: 50px 30px 99px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main__goods {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.item_block {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.item {
  max-width: 270px;
  width: 100%; }
  .item .item_img {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .item .item_text {
    padding-top: 19px; }

.item_text nav {
  margin: auto;
  width: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.second {
  padding: 53px 0;
  border-bottom: 1px solid rgba(81, 81, 81, 0.1); }

footer .content {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

header {
  -webkit-box-shadow: 0 1px 46px rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 46px rgba(0, 0, 0, 0.11);
  background-color: #fefefe; }

.header__logo {
  max-width: 276px;
  width: 100%; }

.header__menu {
  max-width: 570px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .header__menu a {
    color: #515151;
    font-size: 18px;
    line-height: 60px; }

.header__menu a:hover {
  color: #000056;
  border-bottom: 1px solid rgba(23, 59, 113, 0.15); }

.contacts__phone {
  color: #000000;
  font-size: 18px;
  font-weight: 700; }

.contacts__mail {
  color: #000056;
  font-size: 18px; }

.contacts__callback {
  background: transparent;
  border: transparent;
  outline: none;
  color: #000000;
  font-size: 14px; }
  .contacts__callback:hover {
    border-bottom: 1px solid rgba(187, 187, 187, 0.31); }

.phone_ico {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  background: url(../img/phone-call.png); }

section {
  min-height: 30px;
  background-color: #000056; }
  section nav {
    font-size: 12px;
    color: white; }
  section span:nth-child(odd) {
    border-bottom: 1px solid #fefefe; }
  section span:nth-child(even) {
    font-family: Myriad Pro;
    font-weight: 400; }
  section a {
    text-decoration: none;
    font-size: 12px;
    color: white; }

main {
  min-height: 1920px;
  background-color: #ffffff; }

.main__goods {
  max-width: 1173px; }
  .main__goods a {
    text-decoration: none; }
  .main__goods h2 {
    padding-bottom: 38px;
    color: #515151;
    font-size: 30px;
    font-weight: 700;
    line-height: 39.21px;
    text-transform: uppercase; }

.item_img {
  background-color: #f6f6f6; }

.item_text nav {
  color: #515151;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  min-width: 230px; }
  .item_text nav li:nth-last-child(1) {
    color: #000056;
    padding-top: 15px;
    border-bottom: 1px solid rgba(23, 59, 113, 0.15); }

.item_text li {
  display: inline-block; }

.main__description {
  color: #515151;
  padding-top: 48px;
  padding-bottom: 99px;
  height: 714px; }
  .main__description #first {
    font-weight: 700; }
  .main__description ul {
    padding-left: 45px;
    list-style: disc; }
    .main__description ul li {
      color: #173b71;
      font-size: 18px;
      font-weight: 700; }
      .main__description ul li span {
        color: #515151;
        font-size: 16px;
        font-weight: 400; }
  .main__description #second a {
    text-decoration: none;
    color: #000056;
    border-bottom: 1px solid rgba(23, 59, 113, 0.15); }

footer {
  min-height: 100px;
  background-color: #202320; }
  footer span {
    color: #656565;
    font-family: SFUI Display;
    font-size: 14px; }
    footer span a {
      text-decoration: none;
      color: #656565; }

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase; }

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase; }

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */