@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/ArsenalRegular.woff') format('woff'), url('../fonts/ArsenalRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/ArsenalBold.woff') format('woff'), url('../fonts/ArsenalBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadProRegular.woff') format('woff'), url('../fonts/MyriadProRegular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: SFUI Display;
    src: url('../fonts/SFUIDisplay-Regular.otf');
    font-weight: 300;
    font-style: normal;
}