header {
    // min-height: 120px;
    box-shadow: 0 1px 46px rgba(0, 0, 0, 0.11);
    background-color: #fefefe;
}

.header__logo {
    max-width: 276px;
    width: 100%;
}

.header__menu {
    max-width: 570px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
        color: #515151;
        font-size: 18px;
        line-height: 60px;
    }
}

.header__menu a:hover {
    color: #000056;
    border-bottom: 1px solid rgba(23, 59, 113, 0.15);
}

.contacts__phone {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

.contacts__mail {
    color: #000056;
    font-size: 18px;
}

.contacts__callback {
    background: transparent;
    border: transparent;
    outline: none;
    color: #000000;
    font-size: 14px;

    &:hover {
        border-bottom: 1px solid rgba(187, 187, 187, 0.31);
    }
}

.phone_ico {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    background: url(../img/phone-call.png);
}

section {
    min-height: 30px;
    background-color: #000056;

    nav {
        font-size: 12px;
        color: rgb(255, 255, 255);
    }

    span:nth-child(odd) {
        // text-decoration: underline;
        border-bottom: 1px solid rgb(254, 254, 254);
    }

    span:nth-child(even) {
        font-family: Myriad Pro;
        font-weight: 400;
    }

    a {
        text-decoration: none;
        font-size: 12px;
        color: rgb(255, 255, 255);
    }

}

main {
    min-height: 1920px;
    background-color: #ffffff;
}

.main__goods {
    max-width: 1173px;

    a {
        text-decoration: none;
    }

    h2 {
        padding-bottom: 38px;
        color: rgb(81, 81, 81);
        font-size: 30px;
        font-weight: 700;
        line-height: 39.21px;
        text-transform: uppercase;
    }
}

.item_img {
    background-color: rgb(246, 246, 246);
}

.item_text nav {
    color: rgb(81, 81, 81);
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    min-width: 230px;
    li:nth-last-child(1) {
        color: rgb(0, 0, 86);
        padding-top: 15px;
        border-bottom: 1px solid rgba(23, 59, 113, 0.15);
    }
}

.item_text li {
    display: inline-block;
}

.main__description {
    color: rgb(81, 81, 81);
    padding-top: 48px;
    padding-bottom: 99px;
    height: 714px;

    #first {
        font-weight: 700;
    }

    ul {
        padding-left: 45px;
        list-style: disc;

        li {
            color: rgb(23, 59, 113);
            font-size: 18px;
            font-weight: 700;

            span {
                color: rgb(81, 81, 81);
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    #second a {
        text-decoration: none;
        color: rgb(0, 0, 86);
        border-bottom: 1px solid rgba(23, 59, 113, 0.15);
    }
}

footer {
    min-height: 100px;
    background-color: #202320;

    span {
        color: rgb(101, 101, 101);
        font-family: SFUI Display;
        font-size: 14px;

        a {
            text-decoration: none;
            color: rgb(101, 101, 101);
        }
    }
}

h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
}
